.c-slider {
	margin: auto;
	width: 100%;
	max-width: 850px;
	position: relative;
	box-shadow: 0 0 20px 3px;
	border-radius: 2rem;
	margin: 4rem auto;
}
#slider {
	display: flex;
	width: 100%;
	padding: 2rem 0;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	transition: transform 0.7s ease-in-out;
}
#slider .skill-card {
	display: flex;
	align-items: center;
	width: 100%;
	height: 13rem;
	flex: 0 0 400px;
}
#btn-izq, #btn-der {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background: rgba(145, 145, 145, 0.6);
	border-radius: 50%;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#btn-izq:hover , #btn-der:hover {
	background: rgba(196, 196, 196, 0.7); 
}
#btn-izq{
	left: -4rem;
}
#btn-der{
	right: -4rem;
}

#toggle-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: rgba(145, 145, 145, 0.6);
    border-radius: 50%;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    bottom: -4rem; /* Lo posiciona debajo del contenedor */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%);
    transition: background 0.3s ease-in-out;
	z-index: 1;
}

#toggle-slider:hover {
    background: rgba(196, 196, 196, 0.7);
}

#toggle-slider i {
    font-size: 1.5rem;
}
